/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16-Aug-2017, 16:28:07
    Author     : jasongoodenough
*/

// Card styling

.card {
  margin-bottom: $s-4;
  background: $whiteish;
  .card-title {
    font-weight: 700;
  }

  @media (min-width: $bp-s) {
    margin-bottom: 0;
  }

  a {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    align-items: stretch;
    font-weight: 400;
    color: $c-link; // this is needed to override .block--black_skin *  { color :currentColour; }

    @media (min-width: $bp-s) {
      flex-direction: row;
    }

    @media (min-width: $bp-m) {
      flex-direction: column;
    }

    > * {
      flex: 1;
    }
  }
  .card__media {
    overflow: hidden;
    img {
      transition: transform .2s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    @media (min-width: $bp-s) {
      flex-basis: 48%;
    }

    @media (min-width: $bp-m) {
      flex-basis: 0%;
    }
  }
  .media-wrapper {
    position: absolute;  
    width: 118px;
    left: auto; 
    top: 14px;
    right: 12px;

    @media (min-width: $bp-s) {
      width: 154px;
      left: calc(48% - 170px);
      right: auto;
      top: 16px;

    } 
    @media (min-width: $bp-m) {
      left: auto; 
      right: 16px;
    } 
  }

  .media--content__content {
    min-height: 130px;
    position: relative;
    text-align: left;
    padding: $s-4 $s-2 $s-4 * 2 $s-2; // extra padding below to leave space for tags

    @media (min-width: $bp-s) {
      min-height: 192px;
      flex-basis: 52%;
      padding-left: $s-3;
      padding-right: $s-3;
    }

    @media (min-width: $bp-m) {
      min-height: 177px;
      flex-basis: 0%;
      padding-left: $s-4;
      padding-right: $s-4;
    }
  }

  .meta-info-wrap {
    position: absolute; // keep tags fixed to bottom
    bottom: $s-2;
    left: $s-2;

    @media (min-width: $bp-s) {
      bottom: $s-4;
      left: $s-4;
    }
  }

  .meta-info {
    display: inline-block;
    list-style: none;
    font-size: $t-xsmall;
    margin: 0 0 0 $s-2;

    &:before {
      width: 5px;
      height: 1px;
      left: - 14px;
      top: $s-1;
      position: absolute;
      content: "";
      background: $c-link;
    }

    &:first-child {
      margin: 0;

      &:before {
        display: none;
      }
    }

    @media (min-width: $bp-s) {
      font-size: $t1-h6;
    }
  }
}

.card-title {
  font-size: $t-h5;
  font-weight: 400;
  margin: 0;

  @media (min-width: $bp-s) {
    font-size: $t1-h5;
  }

  @media (min-width: $bp-m) {
    line-height: 1.333em;
  }
}

.card--solution {
  position: relative;
  margin-top: -(4 * $vertical-rythym);
  grid-column: full!important;
  margin-left: 0!important;
  margin-right: 0!important;

  @media (min-width: $bp-s) {
    margin-top: -(6 * $vertical-rythym);
  }

  @media (min-width: $bp-m) {
    margin-top: -(7 * $vertical-rythym);
    grid-column: main!important;
  }
}
