
.get-in-touch {
  background-image: url('../img/speech-bubble.svg');
  background-repeat:no-repeat;
  background-position:center 52px;

  > * {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
      padding-top:$pad-0;
  }
  p {
      margin-bottom:0;
  }
}
