$gradient-height: 125px;
$submenu-indicator-space: (27px + $s-4);

// UI
.burger-menu-wrapper {
  // set to relative to align menu
  position: relative;
  // re-align with the top
  margin-top: -55px;
}
.menu-toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for='menu-toggle'] {
  position: absolute;
  top: 18px;
  right: 0;
  z-index: 101;
  transform: translateZ(101px);
  cursor: pointer;
  display: block;
  width: 32px;
  height: 25px;

  &:focus,
  &:hover,
  &:active {
    outline-color: transparent;
    outline-width: 0;
  }

  &:hover {
    * {
      will-change: opacity, display, transform;
    }
  }
}

.toggle-text {
  display: block;
  position: absolute;
  height: 0;
  line-height: 0;
  width: 0;
  overflow: hidden;
  color: transparent;

  &.open {
    display: none;
  }
}

.menu-toggle:focus + label {
  outline: auto;
  outline-color: -webkit-focus-ring-color;
}

.menu-toggle:active + label,
.menu-toggle:checked + label,
.menu-toggle:hover + label {
  outline-color: transparent;
  outline-width: 0;
}
// hide text on toggle active
.menu-toggle:checked + label {
  .toggle-text.open {
    display: block;
  }
  .toggle-text.closed {
    display: none;
  }

  .burger-menu__content-icon {
    opacity: 0.6;
    background-color: transparent;
    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-135deg);
    }
  }
}

// open menu when focussed or checkbox toggled
.menu-toggle:checked ~ .menu--main,
.menu--main:focus {
  position: fixed;
  width: 100vw;
  z-index: 500;
  opacity: 1;

  .menu-item {
    opacity: 1;
  }
}

// icon styles
.burger-menu__content-icon {
  transition: opacity 0.2s;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  margin-top: -4px;
  background-color: $whiteish;
  text-align: center;

  &::before,
  &::after {
    transition: all 0.3s;
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    content: '';
  }

  &::before {
    top: -12px;
  }

  &::after {
    bottom: -12px;
  }
}

// MENU
.menu--main {
  position: absolute;
  overflow: hidden;
  height: calc(100vh - 55px);
  width: 0;
  top: 55px;
  left: 0;
  opacity: 0;
  transition: all 0.8s ease-in-out 0.5s;
  background: $c-black-90;
  z-index: -1;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-end;

  @supports (display: grid) {
    align-items: stretch;
    justify-items: end;
  }

  button {
    appearance: none;
    background: none;
    height: 1em;
  }

  a {
    border: 0;
  }

  .menu:hover {
    .menu-item {
      opacity: 0.5;
    }
  }

  .menu {
    overflow: auto;
  }

  .menu .menu {
    @extend %grid-setup;
    grid-auto-rows: max-content;
    position: fixed;
    width: 0;
    height: calc(100% - 55px);
    right: 0;
    top: 55px;
    z-index: -1;
    transform: translateX(100%);
    opacity: 0;
    background: $c-black-90;

    .menu-item {
      opacity: 0;
      transform: translateX(50%);
      transition: opacity .6s ease-out 0s, transform .6s ease-out 0s;

      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) { 
          transition-delay: ($i - 1) * 0.15s, ($i - 1) * 0.15s;
        }
      }
    }

    &.active {
      width: 100%;
      transform: translateX(0%);
      opacity: 1;
      z-index: 2;
      transition: opacity .3s ease 0s;

      .menu-item {
        opacity: 1;
        transform: translateX(0);
      }

      .js-list-title {
        display: block;
      }
    }

  }

  .menu-item {
    text-align: right;
    position: static;
    margin-bottom: initial;
    transition: opacity 0.3s ease-in-out 0s;
    opacity: 0;
    line-height: 1.2em;
    @include font-size($t-menu, 's');
    
    @media (min-width: $bp-s) {
      @include font-size($t1-menu, 'm');
    }

    @media (min-width: $bp-m) {
      @include font-size($t2-menu, 'l');
    }

    > a {
      display: inline-block;
      color: $whiteish;
      font-weight: 100;
      padding: $vertical-rythym 0;

      &:hover, &:visited {
        color: $whiteish;
      }
    }

    &:hover {
      opacity: 1!important;
    }

    &:last-of-type {
      padding-bottom: $gradient-height;
    }
  }

  .submenu-indication {
    position: relative;
    display: inline-block;
    padding: 12px 0;
    margin: 0 (-$submenu-indicator-space) 0 $s-2;
    width: 27px;
    vertical-align: middle;
  }
  .dots {
    clip: initial;
    @include submenu-indicator();
  }

  .menu-item--active-trail {
    opacity: 1;
  }
}

.menu--main__content-wrap {
  margin-top: 39px;
  flex: 1;
  color: $whiteish;
  height: calc(100vh - 55px);
  width: 100%;
  
  @media (min-width: $bp-s) {
    flex: 0;
    margin-top: 0;
  }
  
  > .menu {
    position: relative;
    padding-right: $submenu-indicator-space + 2px;
    max-height: calc(100% - #{$gradient-height});
    
    @media (min-width: $bp-xxl) {
      padding-right: $submenu-indicator-space + 20px;
      margin-right: -($submenu-indicator-space + 20px);
    }
  }
}

// MENU social links etc
.menu__onward-journeys {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: $social-link-colour !important;
  padding-bottom: 4 * $vertical-rythym;
  @include scrimGradient($c-black-90, 'to top');
  
  
  @media (min-height: 600px) {
    justify-content: space-between;
  }

  .icon {
    color: currentColor;
    fill: currentColor;
  }

  p {
    margin-bottom: 3 * $vertical-rythym;
  }

  a {
    height: 29px;
    width: 50px;
    padding: 0;
    flex: 1;
    display: block;
    color: $social-link-colour;
    pointer-events: all;

    * {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .subscribe_link {
    width: 39px;
  }

  > * {
    grid-row: 1 / 2;
    justify-self: flex-start;
  }

  .social-wrapper {
    margin-left: 77px + $s-2;
    @media (min-height: 600px) {
      justify-self: flex-end;
      text-align: right;
    }
  }
  .social-wrapper, .social-links-wrapper {
    padding: 0;
  }
}

.js-menu-level-title {
  padding-top: 12 * $vertical-rythym;
  @include font-size($t, 's');
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;

  > * {
    margin-left: 7 * $vertical-rythym;
  }
}

.js-current-level-title {
  opacity: 0.6;
}

.js-prev-level-title {
  min-width: initial;
  padding: 4px 0;
}

.js-list-title {
  display: none;
}