.paragraph--type--video-or-image-led-two-column-te {
  > * {
    text-align: left;
  }

  // define grid areas for tablet and desktop
  .media-wrapper {
    grid-column: span 2;

    @media (--bp-m) {
      grid-column: span 3;
    }
  }

  .content:first-of-type:last-of-type {
    grid-column: span 2;
  }

  .content-wrap {
    @extend %full-width-text;

    @media (--bp-s) {
      display: grid;
      grid-template-columns: 0.93fr 1.07fr;
      grid-column-gap: 4%;
    }

    @media (--bp-m) {
      grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
      grid-column-gap: $grid-gap;
    }
  }

  .media-wrapper {
    margin-bottom: $feature-pad-0;

    @media (--bp-s) {
      margin-bottom: $feature-pad-1;
    }

    @media (--bp-m) {
      margin-bottom: $feature-pad-2;
    }
  }

  .content {
    padding-bottom: $s-4;

    @media (--bp-s) {
      padding-bottom: $s-2 * 2;
    }

    @media (--bp-m) {
      padding-bottom: 0;
    }
  }
}
